.header{
    background-color: white;
}
.nav{
    color: red;
}

.flexbox-part {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.welcome-block {
    background-color: rgb(216, 65, 65);
    color: white;
    text-align: center;
    flex-wrap: wrap
}
/* Seccion media queries */

