.header{
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    padding: 10px 30px;

}
.logo{
    width: 180px;
}
.nav{
    display: flex;
    gap: 25px;
}
.nav a{
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.flexbox-part {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  align-items: center;
  background-color: rgb(216, 65, 65);
  gap:20px
  
}

.welcome-block {
  color: white;
  justify-content: center;
  padding: 10px 50px 10px 50px;
}

/* Seccion media queries */
