.footer {
  background-color: #2a5985;
  color: white;
  padding: 20px;
}

.footer_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}
.location ,
.info {
  width: 250px;
}


.derechos {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid gray;
}

.header{
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    padding: 10px 30px;

}
.logo{
    width: 180px;
}
.nav{
    display: flex;
    gap: 25px;
}
.nav a{
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.flexbox-part {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  align-items: center;
  background-color: rgb(216, 65, 65);
  gap:20px
  
}

.welcome-block {
  color: white;
  justify-content: center;
  padding: 10px 50px 10px 50px;
}

/* Seccion media queries */
